// Copied from /less/colors.less

$unit: 20px;
$subunit: 5px;

// Color vars
$white:                 #ffffff;
$black:                 #000000;
$blue:                  #2d89ef;
$blueLight:             #EFF4FF;
$blueDark:              #2B5797;
$green:                 #00a300;
$greenLight:            #99b433;
$greenDark:             #1E7145;
$red:                   #b91d47;
$yellow:                #ffc40d;
$orange:                #e3a21a;
$orangeDark:            #da532c;
$pinkDark:              #7E3878;
$pink:                  #9f00a7;
$purple:                #603cba;
$darken:                #1d1d1d;
$lighten:               #d5e7ec;
$grayDark:              #525252;
$magenta:               #FF0097;
$teal:                  #00ABA9;
$redLight:              #EE1111;
