body {
    background-color: #fff;
}
.metrouicss .page {
    width: 940px ;
    margin: auto;
    background-color: #fff;
}
.browsers-icons img {
    float: left;
    margin-right: 20px;
}


#brand-name {
    line-height: 24px;
    margin-top: 2px;
}


hr {
    border: 0;
    border-bottom: 1px #ddd dotted;
    color: #ddd;
    background-color: #ddd;
}

#social{
    margin-bottom: 90px;
}

#sponsorBlock {
    height: 300px;
}

.metrouicss .charms,
.metrouicss .app-bar,
.metrouicss .message-dialog,
.metrouicss .error-bar,
.metrouicss .warning-bar,
.metrouicss .info-bar {
    position: absolute;
}

/* Fix for long page titles */
.metrouicss .page.secondary .page-header .page-header-content {
	min-height: 100px;
	height: auto;
	
	h1 {
		position: static;
		left: auto;
		bottom: auto;
		padding: 25px 0 0 120px;
	}
		
	@media (max-width: 767px) {
		h1 {
			padding: 32px 0 0 120px;
		}
	}
	
	@media (max-width: 480px) {
		min-height: 60px;
		
		h1 {
			padding: 26px 0 0 40px;
			line-height: 35px;
		}
	}
}

/* Fixes for rows clearing left hand menus */
.metrouicss [class*="span"]:after {
	clear: none;
}

@media (min-width: 768px) and (max-width: 979px) {
    .metrouicss .page {
        width: 724px;
    }
    .metrouicss .hero-unit > img {
        zoom: .6;
    }
    .metrouicss .browsers-icons img {
        zoom: .8;
    }

}

@media (max-width: 767px) {
    .metrouicss .page {
        width: 100%;
    }

    .metrouicss .hero-unit > img {
        zoom: .6;
    }

    .metrouicss .modern-ui-logo {
        width: 24px;
        height: 24px;
    }
    .metrouicss .github-info {
        margin-top: 5px;
    }

    .metrouicss a, .metrouicss .link {
        font-size: 9pt;
    }

    .metrouicss h3 {
        line-height: 11px;
    }

    .metrouicss .no-mobile {
        display: none;
    }

    .metrouicss #carousel1 {
        height: 300px !important;
    }
}

@media (max-width: 480px) {
    .metrouicss .hero-unit img {
        display: none;
    }

    .metrouicss #jetbrains {
        display: none;
    }
    .metrouicss #brand-name {
        display: none;
    }
}