
.placeholder {
	@include opacity(1.0);
}
input::-webkit-input-placeholder {
   @extend .placeholder;
}
input:-ms-input-placeholder {
   @extend .placeholder;
}

input:-moz-placeholder { 
   @extend .placeholder;
}
input::-moz-placeholder { 
   @extend .placeholder;
}

// Hide placeholders on focused elements
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }

// Missing textarea helper styles from metro

.input-control.text {
	textarea:not(:focus) {
		& ~ [class^="btn-"],
		& ~ .helper {
			display: none;
		}
	}

	textarea:focus {
		& ~ [class^="btn-"],
		& ~ .helper {
			display: block;
		}
	}


	textarea:not(:focus) {
		& ~ [class^="btn-"]:active,
		& ~ .helper:active {
			display: block;
		}
	}
}

form {
	form > .message {
		
	}
	
	// Hide fieldset extras
	fieldset {
		margin: 30px 0 0 0;
		padding: 0 !important;
		border: 0 none !important;
	}
	
	.field {
		overflow: visible;
		clear: both;
		position: relative;
		
		> label.left {
		}
		
		.middleColumn {
			overflow: hidden;
		
			input.text {
			}

			textarea {
			}

			input.text,
			textarea {
				
				&.required,
				&.holder-required {
					color: white;
				}
			}
			
			> label {
				display: block;
				float: left;
			}
		}
		> .message {
		}
	}
	
	.Actions {
		margin: 0 0 10px 0;
		
		input {
		}
		
		#ForgotPassword {
			padding: 30px 0 0 0;
		}
	}
}
